<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<div>
  <button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
  >
    Add server
  </button>
</div>
<div>
  <!-- <p [innerText]="allowNewServer"></p> -->
  <!-- <p>{{ serverCreationStatus }}</p> -->
  <p *ngIf="serverCreated">
    Server was created! Server Name is {{ serverName }}
  </p>

  <app-sever *ngFor="let server of servers"></app-sever>
</div>
