<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>
          Add a paragraph with any content of your choice (e.g. 'Secret Password
          = tuna')
        </li>
        <li>
          Toggle the dispalying of that paragraph with the button create in the
          first step
        </li>
        <li>
          Log all button clicks in an array and output that array below the
          secret paragraph (maybe log a timestamp or simply an incrementing
          number)
        </li>
        <li>
          Starting at the 5th log item, give all future log items a blue
          background (via ngStyle) and white color (ngClass)
        </li>
      </ol>
      <hr />
      <p *ngIf="isShowDetails">Secret Password = tuna</p>
      <button class="btn btn-primary" (click)="onClickShowDetails()">
        Display Details
      </button>

      <div>
        <p
          *ngFor="let log of logTiming; let index = index"
          [ngStyle]="{ backgroundColor: index > 3 ? 'blue' : 'transparent' }"
          [ngClass]="{ white: index > 3 ? 'log' : none }"
        >
          {{ log }}
        </p>
      </div>
    </div>
  </div>
</div>
